.App {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	min-height: 500px;
	min-width: 700px;
	background-color: #1C2833;
}

canvas {
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
	background-color: #2C3E50;
	border-radius: 10px;
}